
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/scripts/vendor/jquery/jquery-3.4.1.min.js"></script>
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Party Master Report</h1>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

    </div>

</div>
